.table {
  margin: auto !important;
  width: 40% !important;
}
td,
th {
  border: 2px solid black !important;
  color: rgb(0, 4, 255);
}
hr.new4 {
  margin-top: 30px !important;
  border: solid rgb(7, 5, 5);
  margin: auto;
  width: 25%;
}
.result {
  text-align: -webkit-center;
  margin-top: 50px;
}
.table2,
td,
tr {
  color: rgb(221, 13, 13);
}
.table2 {
  width: 25%;
}
